.root, #formulario {
    -fx-background-image: url("/model/resources/background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
}

#btn_return {
	-fx-background-image: url("/model/resources/returnIcon.png");
	-fx-background-size: 20px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: 30%;
}

.date-picker, .text-field {
	-fx-font-size: 14px;
}
